[submodule "lib/tokenized-strategy"]
	path = lib/tokenized-strategy
	url = https://github.com/gefion-labs/tokenized-strategy
	release = v1.0.1
[submodule "lib/gefion-vaults"]
	path = lib/gefion-vaults
	url = https://github.com/gefion-labs/gefion-vaults
	release = v1.0.0
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
